.buildpath
.DS_Store
.project
.settings
.idea
node_modules/
Vagrantfile/
.vagrant
update/
/data
/data/*
/data/lang/
/data/conf/
data/runtime/
thinkcmf2.7z
public/assets/
public/example/
public/plugins/
public/upload/
public/wap/
